* {
    margin: 0;
    padding: 0;
}
*::-webkit-scrollbar{
 width: 0;
}

#first-page {
    background-image: url(./images/first-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
}

#first-header {
    height: 3em;
    background-color: black;
    opacity: 60%;
}